* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
ul {
    margin: 5px;
    padding: 7.5px;
}

.home-button {
    float:left;
    margin-right:-100%;
    margin-top:30px;
}

.main-heading {
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    border-style: solid;
    border-color:#367efbc5;
    border-left-style:none;
    border-right-style:none;
}

.main-img {
    float:left;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    border-radius:25px;
    width:515px;
}
.lasagna {
    /*list-style-image:url(../images/lasagna-icon.png);*/
    margin: 0;
	padding: 18px 0 18px 40px;
    list-style:none;
    background-image: url(../images/lasagna-icon.png);
    background-repeat:no-repeat;
    background-position:left center;
    background-size:25px;
}

.burger {
    /*list-style-image:url(../images/burger-icon.png);*/
    margin: 0;
	padding: 18px 0 18px 40px;
    list-style:none;
    background-image: url(../images/burger-icon.png);
    background-repeat:no-repeat;
    background-position:left center;
    background-size:25px;
}

.cookie {
    /*list-style-image:url(../images/cookie-icon.png);*/
    margin: 0;
	padding: 18px 0 18px 40px;
    list-style:none;
    background-image: url(../images/cookie-icon.png);
    background-repeat:no-repeat;
    background-position:left center;
    background-size:25px;
}

a {
    text-decoration:none;
}

nav a {
    color:#000000;
}

a:hover {
    text-decoration:underline;
}
a:visited {
    color:black;
}

.ingredients {
    clear:both;
    padding-left:15px;
    border-radius:25px;
    background-color:#0000003a;
    width:500px;
}